entryPoints:
  http:
    address: :80
  https:
    address: :443

log:
  level: {{ traefik_log_level | default('ERROR') }}

api:
  dashboard: {{ traefik_dashboard | default(false) }}

providers:
  docker:
    network: web
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_letsencrypt_email }}"
      storage: "acme.json"
      httpChallenge:
        entryPoint: http
